<header>
  <div class='headline'>
    <div class='container'>
      <h1><img src="assets/images/logo.png">&nbsp;{{ page.heading }}</h1>
      <h2>{{ page.subheading }}</h2>
    </div>
  </div>
  <div class='buttons'>
    <div class='container'>
      <a class="btn btn-primary btn-lg" role="button" href="https://github.com/marketplace/actions/buildpack-ci">Get Started</a>
      <a class="btn btn-outline-primary btn-lg" role="button" href="https://github.com/buildpack-ci/run-tests">GitHub Repo</a>
    </div>
  </div>
</header>
